*{
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
}
.container{
    max-width: 1150px;
    margin:  0 auto;
}

.watched{
    background-color: green;
};
.to-watch{
    background-color: white;
}